// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  input,
  textarea {
    border: 2px solid black;
  }

  .card-item {
    width: 50%;
  }
}
